@model List<Order>
@using Core.Enums;
@{
    int count = 1;
}

@{

    <!-- Google Font: Source Sans Pro -->
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/manage/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/manage/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/manage/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/manage/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/manage/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/manage/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/manage/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/manage/plugins/summernote/summernote-bs4.min.css">

    <link rel="stylesheet" href="~/assets/vendor/toaster/toastr.min.css">

    <!-- Bootstrap Icons Cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/manage/dist/css/man-style.css">
}



<div class="content-wrapper" style="margin-left:0px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 d-flex">
                    <h1 class="align-items-center" style="width:100%;">Orders</h1>
                    <a asp-action="create" class="align-items-center" style="display: flex; justify-content: flex-end;color:black;">
                        <i class="bi bi-plus-circle-fill"></i>
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <form method="get" asp-action="index">
                        <div class="form-group">
                            <label>Select</label>
                            <select class="form-control" name="orderStatus">
                                <option value="@OrderStatus.Qəbul">Qəbul</option>
                                <option value="@OrderStatus.Gözləmədə">Gözləmədə</option>
                                <option value="@OrderStatus.İmtina">İmtina</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-dark mb-3">Save</button>
                       @* <a asp-action="ExportToExcel" style="color:black;font-size:30px;float:right;">
                            <i class="bi bi-file-earmark-arrow-down"></i>
                        </a>*@
                    </form>

                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped projects">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">FullName</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">CreatedAt</th>
                                        <th scope="col">
                                            Actions :
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Order item in Model)
                                    {
                                        <tr>
                                            <th scope="row" style=" vertical-align: middle;">
                                                @(count++)
                                            </th>
                                            <td>@item.FullName</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Address</td>
                                            <td>@item.Status</td>
                                            <td>@item.CreatedAt.ToString("dd:MM:yyyy HH:dd")</td>
                                            <td>
                                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-outline-dark">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                @*<a asp-action="delete" asp-route-id="@item.Id" class="btn btn-outline-info btn-delete-sweet">
                                            <i class="bi bi-x-lg text-danger"></i>
                                            </a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                 @*           <nav aria-label="Page navigation example" class="d-flex justify-content-center align-items-center">
                                <ul class="pagination">

                                    @if (Model.HasPrev)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex - 1)" asp-route-word="@TempData["Word"]" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }
                                    @for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        if (Model.PageIndex - 1 == i)
                                        {
                                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i" asp-route-word="@TempData["Word"]">@i</a></li>
                                        }

                                        if (Model.PageIndex == i)
                                        {
                                            <li class="page-item active"><a class="page-link" style=" z-index: 3; color: #fff; background-color: black !important; border-color: black !important;" asp-route-word="@TempData["Word"]" asp-action="index" asp-route-page="@i">@i</a></li>
                                        }
                                        if (Model.PageIndex + 1 == i)
                                        {
                                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i" asp-route-word="@TempData["Word"]">@i</a></li>
                                        }
                                    }
                                    @if (Model.HasNext)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex + 1)" asp-route-word="@TempData["Word"]" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </nav>*@

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script src="~/manage/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/manage/plugins/jquery-ui/jquery-ui.min.js"></script>


<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="~/manage/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="~/manage/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="~/manage/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="~/manage/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/manage/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/manage/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/manage/plugins/moment/moment.min.js"></script>
<script src="~/manage/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/manage/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="~/manage/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/manage/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/manage/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/manage/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/manage/dist/js/pages/dashboard.js"></script>

<script src="~/assets/vendor/toaster/toastr.min.js"></script>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}